@model RegistroViewModel
@{
    ViewData["title"] = "Registrar usuario";
}

<h1>Registro usuario</h1>
<form asp-controller="Cuentas" asp-action="Registro" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Nombre" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Nombre" class="form-control"/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Url" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Url" class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CodigoPais" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="CodigoPais" class="form-control" />
            <span asp-validation-for="CodigoPais" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Telefono" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Pais" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Pais" class="form-control" />
            <span asp-validation-for="Pais" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Ciudad" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Ciudad" class="form-control" />
            <span asp-validation-for="Ciudad" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Direccion" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FechaNacimiento" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="FechaNacimiento" class="form-control" />
            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Contraseña" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Contraseña" class="form-control" />
            <span asp-validation-for="Contraseña" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="ConfirmarContraseña" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmarContraseña" class="form-control" />
            <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn-success">Registrarse</button>
        </div>
    </div>

</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}